// Register.module.scss

.registerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px); // Adjusts height based on the Navbar height
    background-color: #f5f5f5;
  }
  
  .registerForm {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .formTitle {
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }